In [18]:
#Import libraries 
import pandas as pd

Project ideas as given in https://www.youtube.com/watch?v=wObV_hwu2QM

In [19]:
#Import  csv file & convert it to dataframe
df = pd.read_csv('FIFA23_official_data.csv')
print(df.shape)
#Print the data types for each column
print(df.dtypes)
print(df.Weight.dtype)
print(df.Height.dtype)

(17660, 29)
ID                            int64
Name                         object
Age                           int64
Photo                        object
Nationality                  object
Flag                         object
Overall                       int64
Potential                     int64
Club                         object
Club Logo                    object
Value                        object
Wage                         object
Special                       int64
Preferred Foot               object
International Reputation    float64
Weak Foot                   float64
Skill Moves                 float64
Work Rate                    object
Body Type                    object
Real Face                    object
Position                     object
Joined                       object
Loaned From                  object
Contract Valid Until         object
Height                       object
Weight                       object
Release Clause               object
Kit Number                  float64
Best Overall Rating          object
dtype: object
object
object

In [20]:
#change the weight and height columns to float
#Check the values in Height column
print(df['Height'])
#remove from height  the unit of measure 
df['Height'] = df['Height'].str.replace('cm', '')
#See the changes 
print(df['Height'])
#Convert Height into float
df['Height'] = df['Height'].astype(float)

0        189cm
1        179cm
2        172cm
3        181cm
4        172cm
         ...
17655    190cm
17656    195cm
17657    190cm
17658    187cm
17659    186cm
Name: Height, Length: 17660, dtype: object
0        189
1        179
2        172
3        181
4        172
        ...
17655    190
17656    195
17657    190
17658    187
17659    186
Name: Height, Length: 17660, dtype: object

Is the data frame contains the correct format ?

In [21]:
print(df['Weight'])
#remove from height  the unit of measure 
df['Weight'] = df['Weight'].str.replace('kg', '')
#See the changes 
print(df['Weight'])
#Convert Height into float
df['Weight'] = df['Weight'].astype(float)
#See the changes 
print(df['Weight'])

0        82kg
1        69kg
2        69kg
3        70kg
4        68kg
         ...
17655    78kg
17656    84kg
17657    82kg
17658    79kg
17659    78kg
Name: Weight, Length: 17660, dtype: object
0        82
1        69
2        69
3        70
4        68
         ..
17655    78
17656    84
17657    82
17658    79
17659    78
Name: Weight, Length: 17660, dtype: object
0        82.0
1        69.0
2        69.0
3        70.0
4        68.0
         ...
17655    78.0
17656    84.0
17657    82.0
17658    79.0
17659    78.0
Name: Weight, Length: 17660, dtype: float64

Can joining date being separated into month, day and year?

In [31]:
#Split the Joining date into to three new columns 
df['Join Year'] = df['Joined'].str.split(',').str[1]
df['Join Day'] = df['Joined'].str.split(' ').str[1].str.replace(',','')
df['Join Month'] = df['Joined'].str.split(' ').str[0]

Can clean and transform the value wage and release columns in to columns of integers ?

In [35]:
df['Wage']=df['Wage'].str.replace('K','')
df['Wage']=df['Wage'].str.replace('€','')
df['Wage']=df['Wage'].to_numeric()

AttributeError: 'Series' object has no attribute 'to_numeric'

Remove Nan Values from the data frame

In [41]:
df=df.dropna()
print(df)

AttributeError: 'function' object has no attribute 'dropna'