In [18]:
#Import libraries 
import pandas as pd

Project ideas as given in https://www.youtube.com/watch?v=wObV_hwu2QM

In [ ]:
#Import  csv file & convert it to dataframe
df = pd.read_csv('FIFA23_official_data.csv')
print(df.shape)
#Print the data types for each column
print(df.dtypes)
print(df.Weight.dtype)
print(df.Height.dtype)

In [ ]:
#change the weight and height columns to float
#Check the values in Height column
print(df['Height'])
#remove from height  the unit of measure 
df['Height'] = df['Height'].str.replace('cm', '')
#See the changes 
print(df['Height'])
#Convert Height into float
df['Height'] = df['Height'].astype(float)

Is the data frame contains the correct format ?

In [ ]:
print(df['Weight'])
#remove from height  the unit of measure 
df['Weight'] = df['Weight'].str.replace('kg', '')
#See the changes 
print(df['Weight'])
#Convert Height into float
df['Weight'] = df['Weight'].astype(float)
#See the changes 
print(df['Weight'])

Can joining date being separated into month, day and year?

In [31]:
#Split the Joining date into to three new columns 
df['Join Year'] = df['Joined'].str.split(',').str[1]
df['Join Day'] = df['Joined'].str.split(' ').str[1].str.replace(',','')
df['Join Month'] = df['Joined'].str.split(' ').str[0]

Can clean and transform the value wage and release columns in to columns of integers ?

In [ ]:
df['Wage']=df['Wage'].str.replace('K','')
df['Wage']=df['Wage'].str.replace('â‚¬','')
df['Wage']=df['Wage'].to_numeric()

Remove Nan Values from the data frame

In [ ]:
df=df.dropna()
print(df)